
html {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #79C7C5), to(#F9FBFF));
  background: linear-gradient(to bottom left, #79C7C5 40%, #F9FBFF 100%);
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  margin: 12% auto;
  width: 620px;
  height: 450px;
}

.messages {
  position: absolute;
  background: #F9FBFF;
  opacity: 0.5;
  width: 30%;
  height: 70%;
  top: 2.5%;
  left: 5%;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
          box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
}

/*chat messages */
.people {
  position: absolute;
  list-style-type: none;
  width: 30.2%;
  left: -10px;
  top: 24.7%;
  line-height: 0.7em;
}

.people .title {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-left: 14px;
  letter-spacing: 1px;
  color: #777777;
}

.people .time {
  font-size: 0.3em;
  color: #777777;
  position: absolute;
  right: 10px;
  margin-top: 2px;
}

.people .preview {
  color: #79C7C5;
  margin-left: 14px;
  font-size: 0.5em;
}

.person {
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid #79C7C5;
  cursor: pointer;
}

.person:hover {
  background: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.focus {
  background: #F9FBFF;
  margin-left: 1px;
}

.profile {
  position: absolute;
  left: 16%;
  top: 7%;
}

.name2 {
  position: absolute;
  top: 50px;
  left: 2px;
  text-transform: uppercase;
  color: #79C7C5;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
}

.email {
  color:;
  font-size: .5em;
  margin-left: -30px;
  margin-top: 2px;
}

.chatbox {
  position: absolute;
  left: 35%;
  height: 75%;
  width: 60%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
          box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, #79C7C5), to(#A1E2D9));
  background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}

.avatar p {
  color: #F9FBFF;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons {
  position: absolute;
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}

.icons .fas {
  padding: 5px;
  opacity: 0.8;
}

.icons .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.dots {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #79C7C5;
    -webkit-box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
    box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}

.middle {
  position: absolute;
  background: #F9FBFF;
  width: 100%;
  opacity: 0.85;
  top: 60px;
  height: 80%;
}

.incoming { 
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  width: 50%;
  height: 70%;
  padding: 20px;
}

.incoming .bubble {
  background: #b2b2b2;
  max-width: fit-content;
}

.typing {
  position: absolute;
  top: 67%;
  left: 20px;
}

.typing .bubble {
  background: #eaeaea;
  padding: 8px 13px 9px 13px;
}

/* .ellipsis { 
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b7b7b7;
  border-radius: 50%;
  -webkit-animation: bounce 1.3s linear infinite;
          animation: bounce 1.3s linear infinite;
}*/

/*.one {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.two {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.three {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
*/
.bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #F9FBFF;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

.outgoing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  right: 0;
  width: 50%;
  height: 80%;
  overflow: scroll;
}

.outgoing .bubble {
  background: #79C7C5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}

.left {
  left: 0px;
}

input {
  padding: 7px;
  width: 74%;
  left: 10%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;
}

input::-webkit-input-placeholder {
  color: #A1E2D9;
}

input:-ms-input-placeholder {
  color: #A1E2D9;
}

input::-ms-input-placeholder {
  color: #A1E2D9;
}

input::placeholder {
  color: #A1E2D9;
}

.input:focus {
  color: #777777;
  outline: 0;
}

.button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #A1E2D9;
  top: 19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #79C7C5;
}

.button .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 0.7em;
  padding: 10px;
}

.button .footer .p {
  color: #79C7C5;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button .footer .a {
  color: #F9FBFF;
  text-decoration: none;
}
.bu-ton{
  margin-left: 328px;
  width: 28px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;

}
.bu-ton:hover{
  background-color: lightblue;
}

.button .footer .a:hover {
  color: #A1E2D9;
}
.online{
  padding-top: 40px;
  padding-left: 50px;
  font-size: 15px;
}
/*@-webkit-keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}

@keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}
/*# sourceMappingURL=chat.css.map */