.header{
    width: 100%;
    height: 85px;
    background-color:  #3b5998;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.log{
    width: 50%;
    padding-top: 32px;
    float:left;

    
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
}
.login-lable{
    color: #fff;
    font-size: 11px;
}
.login-controls{
    margin-left: 70px;
}
.login{
    padding: top 10px;
}
.forgotten{
    color: white;
font-size: 11px;
text-decoration: none;
color: #9cb4d8;
}
.sub-btn{
    background-color: #4267b2;
    color: white;
    height: 20px;
    border-color: #29487d; 
    cursor: pointer;

}
.sub-btn:hover{
    background: darkblue;
}
.left-section{
    width: 50%;
    float: left;a
    padding-left: 130px;
    padding-top: 52px;
}
.right-section{
    width: 40%;
    float: left;
}
.main-body{
    background: linear-gradient(white,#d3d8e8);
    width: 100%;
    height: 500px;
}
.image{
sss    width: 500px;
}
.para{
    font-weight: bold;
    font-size: 20px;
}
.head{
    margin-left: 59px;
}
.para1{
    font-size: 20px;
    margin-left: 64px;
}
.text1{
    height: 24px;
    width: 200px;
    border-radius: 4px;
    border-color: white;
    font-size: 15px;
    margin-left: 43px;
}
.text2{
    height: 24px;
    width: 200px;
    border-radius: 4px;
    border-color: white;
    font-size: 15px;
    margin-left: 23px;
    
}
.text3{
    margin-left: 42px;
    margin-top: 12px;
    width: 440px;
    height: 24px;
    border-radius: 4px;
    border-color: white;
    font-size: 15px;

}
.passwroad{
    margin-left: 42px;
margin-top: 12px;
width: 440px;
height: 24px;
block-radius: 4px;
background-color: white;

}
.bridy{
    text-decoration: none;
    margin-left: 41px;
    margin-top: 12px;
}s
.select1{
    margin-left: 30px;
}
.para3{
    font-size: 15px;
    margin-left: 250px;
    margin-top: -35px;
    font-decartion: none;
}
.radio1{
    background-color: gray;
}
#female{
    margin-left: 40px;
}
.submit{
    float: left;
    margin-top: 12px;
    margin-left: 40px;
    background-color: green;
    width: 100px;
    height: 24px;
    border: radius 10px;
    cursor: pointer;


}