*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}

 .container {
     align-items: center;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     width: 100%;
 }
 
.navigation { 
    align-items: center;
    background-color:yellowgreen; 
    color: white;
    display: flex;
    height: 100px;
    padding: 0 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    width: 100%;
}

.navigation > h3 {
    font-size: 30px;
}
.forgotten{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.sub-ton{
    background-color: lightblue;
    color: whitesmoke;
    height: 31px;
    border-color: #2948;
    cursor:pointer;
}
.sub-ton:hover{
    background-color:aqua;
}
.drop-box{
    display: flex;
}

.flex-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;    
    max-width: 400px;
    padding: 0 10px;
    width: 100%; 
}


.flex-box > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 20px 0;
}

#signup {
    display: none;
}

input{
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 18px;
    min-width: 100px;
    outline: 0;
    padding: 8px 10px;
    width: 100%;
}

input[type=submit] {
    background-color: dodgerblue;
    border: 0;
    color: white; 
}

.active-on-click:active {
    opacity: .2;
}   

.cursor-pointer {
    cursor: pointer;
}

.link {
    text-decoration: underline;
}
 .drop-box{
     width: 100%;
     padding: 5px;
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}
header, h2{
    position: absolute;
    left: 10%; 
    bottom: 1rem;
    font-size: 1.6rem;  
}
/*splash screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color:black;
    transition: 1s;
}
.logo-header{

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;

}
.logo{
    position: relative;
    display: inline-block;
    bottom:-20px;
    opacity: 0;
    padding:0 3px;

}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;   
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;   


}