body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-color:white;
}
    
.logo {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.nav-bar { 
  display: flex; 
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
} 

.nav {
  background-color:blue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  min-height: fit-content;
  padding: 20px;
}

  .header1{
  min-height: fit-content;
  width: 100%;  
  }   
  
  .logo-pic1{
    width: 66px; 
  }
    .heading{
      color: white;
    }

    .main-body{
  
        width: 85%;
        height: 80%;
        float: left;
    }
    .menu-text1{
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    color: white; 
  
   }
   .menu-text1:hover{
     background:black;
   }
   .menu-text0{
    padding-left: 33px;
    color: white;
   }
   .menu-text0:hover{
    background:black;

   } 
  /* Style the search field */
  form.example input[type=text] {
    padding: 2px;
    font-size: 13px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: -22px;
    margin-left: 506px;
  }
  /* Style the submit button */
  form.example button {
    float: left;
    width: 18%;
    padding: 1px;
    background: #1287E4;
    color: white;
    font-size: 15px;
    border-left: none;
    cursor: pointer;
    margin-left: 745px;
    margin-top: -23px;
  }
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .image{
    width: 100%;
    padding-top: 16px;
    padding-left: 6px;
    border-radius: 20px;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 26px 12px;
    position: absolute;
    top: 0;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }