* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

.logo {
  color: white;
}

.navigation {
  align-items: center;
  background-color: #1b53d4;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}
 

.icon {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
} 

.search {
  border: 0; 
  font-size: 18px;
  padding: 10px;
  width: 400px;
}

.sub-navigation {  
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.sub-navigation > * {
  background-color: transparent;
  border: 0; 
  font-size: 30px;
}

.template { 
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  min-height: 200px;
  position: relative;  
  max-width: 500px;
} 

.image {
  width: 100%;
}

.template-footer {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.template-footer > button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
}

.grid { 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  grid-template-columns: repeat(1, 400px);
  justify-content: center;
  padding: 10px 50px; 
}

.commentBox {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
}

.commentBox > textarea {
  width: 300px; 
  padding: 10px;
}

.commentBox > button {
  background-color: dodgerblue; 
  cursor: pointer;
  color: white;
  border: 0;
  padding: 10px;
  transition: .2s;
}
.commentBox >button:active{ 
  opacity: .2;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 30px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}