body{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif ;
  background-color:white;

}
.header1{
  background-color:#a83291;
  width: 100%;
  height: 140px;
}

.logo-pic1{
  width: 66px;
margin-top: 40px;
margin-left: 32px;
}
  .heading{
    margin-left: 110px;
    margin-top: -34px;
    color: white;
  }
  .menu-text1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  color: white;
  margin-left: 669px;
  margin-top:555px ;
  padding-left: 0px;

 }
.menu-text2{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 25px;
}
/* Style the search field */
form.example input[type=text] {
  padding: 2px;
  font-size: 13px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: -22px;
  margin-left: 500px;
}
/* Style the submit button */
form.example button {
  float: left;
  width: 18%;
  padding: 1px;
  background: #1287E4;
  color: white;
  font-size: 15px;
  border-left: none;
  cursor: pointer;
  margin-left: 745px;
  margin-top: -23px;
}
form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}